html {
    color: #144149;
    font-family: "Times New Roman";
}

h1 {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: #97cfca;
}

p {
    font-size: 22px;
}

canvas {
    border:3px solid #144149;
}
  
.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
    grid-row-gap: 1em;
}
  
.grid-item {
    background-color: #e6feeb;
    border: 1px solid #144149;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 2 / 7;
}
  
#art {
    grid-row: 0;
    overflow: hidden;
}

#artist {
    grid-row: 2;
}

#btn-show {
    grid-row: 3;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn-show:hover {
    background-color: #8ad5d8;
    cursor: pointer;
}

#btn-show:focus {
    outline: 0;
}

#text-tool {
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    border:3px solid #144149;
}

#text-tool:hover {
    background-color: #8ad5d8;
    cursor: pointer;
}

#doc-layout {
    grid-row: 5;
    grid-column: 2;
}

#doc-art {
    grid-row: 5;
    grid-column: 3;
}

#doc-jquery {
    grid-row: 5;
    grid-column: 4;
}

#doc-testing {
    grid-row: 5;
    grid-column: 5;
}

#doc-sources {
    grid-row: 5;
    grid-column: 6;
}
